.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 15px;
}
.date {
    background-color: blueviolet;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}